body {
  background-color: #012634;
  font-family: fantasy;
}

h1 {
  text-align: center;
  color: orange;
  font-size: 50px;
}

p {
  color: red;
}

.oveskrift {
  text-align: center;
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sitat {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

.GunGala {
  text-align: inherit;
  font-size: 40px;
  color: yellow;
  position: relative;
  height: 250px;
  margin: 400px;
  padding: 30px;
  border: 2px solid #cccccc;
  background-color: blue;


}

.spreadsheets {
  text-align: inherit;
  font-size: 40px;
  color: yellow;
  position: relative;
  height: 250px;
  margin: 50px;
  padding: 50px;
  border: 2px solid #cccccc;
  background-color: blue;

}

img {
  width: 300px;
  border-radius: 20%;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px
